@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap');
html{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  :is([dir="rtl"]){
  font-family: 'Tajawal', sans-serif;
  }
}

body [direction="rtl"] {
  font-family: 'Tajawal', sans-serif;

  }
.font-a{
  font-family: 'Montserrat', sans-serif !important;
}

.font-b{
  font-family: 'Montserrat Alternates', sans-serif !important;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}


.swiper-pagination-bullet-active{
  background-color: #dfae42 !important;
}